.container2 {
  width: 100%;
  background-color: #36a7e8
  ;
  height: 50;
  color: white;
}

.navbar2 {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 70px;
}

.title {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.title2 {
  color: white;
  margin-right: 12px;
  text-decoration: none;
  font-size: 14px !important;
}